body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 18px;
  text-align: center;
}

h1,
h2 {
  color: hsl(210, 10%, 33%);
}

p {
  color: hsl(201, 11%, 66%);
}

header {
  background-image: url(images/bg-header-mobile.png);
  background-repeat: no-repeat;
  padding-top: 100px;
}

header img {
  display: block;
  margin: 0 auto;
}

section {
  margin-top: 200px;
}

.section-title,
.tile-title {
  margin: 70px auto 0;
  width: 90%;
  font-size: 1.8em;
}

.section-text {
  width: 92%;
  margin: 20px auto 0;
  line-height: 28px;
}

.button-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  text-decoration: none;
  background-color: blueviolet;
  padding: 15px 0;
  width: 90%;
  border-radius: 300px;
  color: white;
  font-weight: 600;
  border-bottom: 3px solid rgba(0, 0, 0, 0.15);
}

.button + .button {
  margin-top: 25px;
}

.cyan-button {
  background-color: hsl(171, 66%, 44%);
}

.cyan-button:hover,
.cyan-button:focus {
  background-color: hsl(171, 66%, 55%);
}

.blue-button {
  background-color: hsl(233, 100%, 69%);
}

.blue-button:hover,
.blue-button:focus {
  background-color: hsl(233, 100%, 79%);
}

#snippet-section-image-container {
  width: 85%;
}

.section-image-container {
  margin: 80px auto 0;
}

.section-img {
  width: 100%;
}

.tile-text {
  width: 92%;
  margin: 18px auto 0;
  line-height: 28px;
}

#access-section-image-container {
  width: 95%;
}

#supercharge-section {
  margin-top: 150px;
}

#supercharge-section-tile-container {
  margin-top: 50px;
}

.tile-icon {
  margin-top: 70px;
}

.supercharge-tile-title {
  margin-top: 35px;
}

#affiliation-section {
  margin-top: 150px;
}

.affiliation-logo-container + .affiliation-logo-container {
  margin-top: 70px;
}

#ios-section {
  margin-bottom: 200px;
}

footer {
  background-color: #f5f6f8;
}

#footer-logo-container {
  width: 15%;
  margin: 0 auto;
  padding-top: 50px;
}

#footer-logo {
  width: 100%;
}

.nav-links {
  list-style-type: none;
  padding: 0;
}

#nav-list li {
  padding: 15px 0;
}

.nav-links a {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
}

.social-icons {
  text-decoration: none;
  color: hsl(210, 10%, 33%);
  font-size: 25px;
}

.link:hover,
.link:focus,
.social-icons:hover,
.social-icons:focus {
  color: hsl(171, 66%, 44%);
}

.social-icons:nth-child(2) {
  margin: 0 30px;
}

.attribution p {
  font-size: 11px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
  padding-bottom: 5px;
}
.attribution a {
  color: hsl(171, 66%, 44%);
}

@media (min-width: 1200px) {
  header {
    background-image: url(images/bg-header-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header .section-title {
    font-size: 44px;
  }

  header .section-text {
    width: 50%;
  }

  .section-title {
    font-size: 35px;
  }

  .section-text {
    width: 55%;
    font-size: 20px;
  }

  .button-container {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .button {
    width: 15%;
  }

  .button + .button {
    margin-left: 25px;
    margin-top: 0;
  }

  #image-tile-container {
    display: flex;
    margin-top: 30px;
  }

  #snippet-section-image-container {
    transform: translateX(-40px);
  }

  #snippet-section-image-container,
  #snippet-section-tile-container {
    width: 50%;
  }

  #snippet-section-tile-container {
    margin-top: 60px;
    padding-left: 80px;
  }

  #snippet-section-tile-container .tile-title {
    text-align: left;
    margin: 50px 0 0;
  }

  #snippet-section-tile-container .tile-text {
    text-align: left;
    margin: 18px 0 0;
    width: 65%;
  }

  #access-section-image-container {
    width: 70%;
  }

  #supercharge-section {
    margin-top: 120px;
  }

  #supercharge-section-tile-container,
  #affiliation-section,
  #footer-data,
  #nav-list {
    display: flex;
  }

  .tile-title {
    font-size: 25px;
  }

  .tile-text {
    font-size: 20px;
  }

  #supercharge-section-tile-container .tile:first-child .tile-title {
    margin-top: 26px;
  }

  #supercharge-section-tile-container .tile-text {
    width: 100%;
  }

  #affiliation-section {
    width: 90%;
    margin: 150px auto 0;
  }

  .affiliation-logo-container {
    width: 25%;
  }

  .affiliation-logo-container + .affiliation-logo-container {
    margin-left: 70px;
    margin-top: 0;
  }

  #footer-data {
    width: 100%;
  }

  #footer-logo-container {
    width: 5%;
    margin: 0 120px;
  }

  #social-links-container {
    align-self: center;
    flex: 1;
    padding-left: 20%;
  }

  .nav-link-separator {
    margin-top: 20px;
  }

  .nav-link-separator + .nav-link-separator {
    margin-left: 80px;
  }

  .nav-link-separator li {
    text-align: left;
  }

  .attribution p {
    font-size: 15px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
    padding-bottom: 5px;
  }
}
